#titlebar_right {
  .action_items {
    .action_item {
      a {
        color: $black;
        text-decoration: none;
        white-space: nowrap;
        background: $ligh-gray;

        &:hover {
          background: $gray-lighter;
        }
      }
    }
  }
}
